@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

.navigator {
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     width: auto;
     margin-top: 2rem;
     margin-bottom: 2rem;
     font-family: "Nunito", sans-serif;
     font-size: 1.2rem;
     color: #2e5bff;
}

.navbar {
     background-color: white;
     height: 3rem;
     font-family: "Nunito", sans-serif;
     font-weight: bold;
}

.navigator-date {
     align-self: center;
     margin-right: 4rem;
     margin-left: 4rem;
     font-weight: 800;
}

.btn-prev {
     background-color: transparent;
     border: none;
     color: #2e5bff;
     align-self: center;
     font-size: 2rem;
}

.btn-next {
     background-color: transparent;
     border: none;
     color: #2e5bff;
     align-self: center;
     font-size: 2rem;
     outline: none;
}

.btn-add {
     margin-top: 2rem;
     margin-bottom: 2rem;
     background-color: rgb(46, 91, 255);
     border-radius: 0.2rem;
     color: white;
     font-family: "Nunito", sans-serif;
     font-weight: 600;
     font-size: 0.7rem;
     padding: 0.2rem 2rem 0.2rem 2rem;
     border: none;
}
