@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

body {
     background-color: #f5f6fb;
}
.navigator {
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     width: auto;
     border: red 1px solid;
     margin-top: 2rem;
     margin-bottom: 2rem;
     font-family: "Nunito", sans-serif;
     font-weight: 600;
     font-size: 1.2rem;
     color: #2e5bff;
}

.btn-prev {
     margin-right: 1rem;
}

.btn-next {
     margin-left: 1rem;
}

.btn-add {
     margin-top: 2rem;
     background-color: #2e5bff;
     color: white;
     font-family: "Nunito", sans-serif;
     font-weight: 600;
     font-size: 0.7rem;
     padding: 0.2rem 1.2rem 0.2rem 1.2rem;
     border: none;
}
