.meet-item {
     background-color: white;
     margin-top: 0.8rem;
     margin-bottom: 0.8rem;
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     width: 80vw;
     height: 3rem;
     margin-left: 10vw;
     box-shadow: 5px 10px 18px #e0e0e0;
}

.meet-time {
     font-family: "Nunito", sans-serif;
     font-weight: bolder;
     font-size: 0.8rem;
     align-self: center;
     margin-left: 2rem;
}

.meet-desc {
     width: 80%;
     font-family: "Nunito", sans-serif;
     font-size: 0.7rem;
     align-self: center;
     text-align: right;
     margin-right: 2rem;
     padding-top: 0.5rem;
     padding-bottom: 0.5rem;
     color: grey;
}
